{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="page-header">Thank You For Shopping With Us
                </h3>
                <p>Your order has been successfully completed. Your order number is <strong>{{ order.id }}</strong>.</p>
                <p>Your order is in Cash On delivery Category but You can pay now.</p>

                <div class="col-md-4">
                    <div class="page-header">
                        Your Order
                    </div>
                    <ul class="list-group">
                        {% for item in order.items.all %}
                            <li class="list-group-item">
                                {{ item.quantity }}x {{ item.product.name }}
                                <span>Kshs. {{ item.get_cost }}</span>
                            </li>
                        {% endfor %}

                        <li class="list-group-item active">Total Cost: ${{ order.get_total_cost }}</li>
                        <form action="{% url 'orders:order_payment_done' order_id=order.id %}" method="post">
                            {% csrf_token %}
                            <br>
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="{{ key }}"
                                    data-description="Parusa Charge"
                                    data-amount="{{ order.get_total_price_for_order }}"
                                    data-locale="auto">
                            </script>

                        </form>

                    </ul>

                </div>

            </div>
        </div>
    </div>

{% endblock %}










