<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Signup{% endblock %}


{% block content %}

    <div class="container">
        <div class="signUp">
            <h5>Signup</h5>

            <form class="signUpForm" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="signupBtn btn btn-info">Signup</button>
            </form>

        </div>
    </div>
{% endblock %}